doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js")
  body
    h1
      strong
        span(style="font-family: 'Product Sans',sans-serif;font-size:70px;")
          span.p-blue P
          span.a-red a
          span.s-yellow s
          span.s-blue s
          span.w-green w
          span.s-yellow o
          span.a-red r
          span.w-green.d-green d
          span.empty 
          span.s-yellow M
          span.a-red a
          span.p-blue n
          span.w-green a
          span.s-yellow g
          span.a-red e
          span.p-blue.r-blue r

    if errors
        each error, i in errors
          div(class="alert alert-danger") #{error.text}
    block content
