#newPasswordForm.form-popup
    form.form-container(action='/dashboard', method='post')
        h2 New Password
        #new-password-popup
            button.btn() Generate random password
            label
                b New site
            input(type='text', placeholder='Enter website', id='website', name='website', required='')
            label
                b New password
            input(type='text', placeholder='Enter Password', id='password', name='password', required='')
            button.btn(type='submit') Confirm
        button.btn.cancel(type='button', onclick='closeForm("newPasswordForm")') Close