form#newPasswordForm.form-popup(action='/dashboard', method='post')
    h3 New Password
    .text-field-container
        .text-field
            input(type='text', id='website', name='website', required='')
            label New website
        .text-field
            input(type='text',id='password', name='password', required='')
            label New password
        .text-field
            input(type='text', id='retypedPassword', name='retypedPassword', required='')
            label Retype new password
            
    button.button.form-button Generate random password
    button.button.form-button(type='submit') Confirm
    button.button.form-button.cancel(type='button', onclick='closeForm("newPasswordForm")') Close