extends layout

script.
  $('tbody tr').hover(function(){
  $(this).find('td:last').show();
  },function(){
  $(this).find('td:last').hide();
  });

block content
 .container 
    .form-group
         label(for='username') Secret key
         input.form-control(type='text', id='secretKey', name='secretKey', placeholder='Please enter your secret key')
    table.table-bordered.table-bordered-custom(style='width:75%')
        thead
            tr
            th(style='width:17.5%') Host Account
            th(style='width:70%') Encrypted Password
            th(style='border:0 !important')
        tbody
            tr
                th(scope='row') ABCD
                td Mark
                td
                    input(type='button', value='Edit', onclick="openForm()")
                    input(type='button', value='Copy')
            tr
                th(scope='row') 2
                td Jacob
                td
                    input(type='button', value='Edit')
                    input(type='button', value='Copy')
    
    #myForm.form-popup
        form.form-container(action='/action_page.php')
            h1 Login
            button.btn.cancel() Delete password
            button.btn.updatePassword(onclick="openUpdatePassword()") Update password
            #update-popup
                button.btn() Generate random password
                label
                    b New password
                input(type='text', placeholder='Enter Password', name='password', required='')
                button.btn(type='submit') Update
            button.btn.cancel(type='button', onclick='closeUpdatePassword(); closeForm()') Close
    
    script.
        $('tbody tr').hover(function(){
        $(this).find('td:last').show();
        },function(){
        $(this).find('td:last').hide();
        });
        function openForm() {
        document.getElementById("myForm").style.display = "block";
        };
        function closeForm() {
        document.getElementById("myForm").style.display = "none";
        closeUpdatepassword();
        };
        function openUpdatePassword() {
        document.getElementById("update-popup").style.display = "block";
        };
        function closeUpdatePassword() {
        document.getElementById("update-popup").style.display = "none";
        };
