doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css', rel='stylesheet')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js')
  body
    h1
      strong
        span(style="font-family: 'Product Sans',sans-serif;font-size:70px;")
          span.p-blue P
          span.a-red a
          span.s-yellow s
          span.s-blue s
          span.w-green w
          span.s-yellow o
          span.a-red r
          span.w-green.d-green d
          span.empty 
          span.s-yellow M
          span.a-red a
          span.p-blue n
          span.w-green a
          span.s-yellow g
          span.a-red e
          span.p-blue.r-blue r
    block content