extends layout
block stylesheets
    link(rel='stylesheet', href='/stylesheets/dashboard.css')
    link(rel='stylesheet', href='/stylesheets/forms/forms.css')

block content
    .container
        #secret-field-container
            #secrect-text-field.text-field-container
                .text-field
                    input#secretKey(type='text', required='')
                    label Secret key

        form.uploader(name='uploader', action='/dashboard/upload', method='post', enctype='multipart/form-data')
            input(type='file', name='file', id='file', onChange='uploader.submit()')

        .json-table-container
            button#add-button.button(onClick='downloadPasswordFile()') Download a copy
            button#add-button.button(onClick='openNewForm()') Add new password
        
        include forms/updateForm.jade
        include forms/newPasswordForm.jade
        
        script(src='/scripts/dashboardView.js')
        script.
            document.getElementById('secretKey').addEventListener("blur", saveValue);
            restoreStateOnReload();

            let jsonData = `#{json}`;
            generatePasswordsTable(jsonData);

            // Prevent redo PUSH and PUT requests when reload
            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }