extends layout
block stylesheets
  style(type="text/css").
    .text-field-container {
      margin: auto;
      width: 60%;
    }

    a:link, a:visited {
      color: yellow;
    }

    a:hover, a:active {
      background-color: yellow;
    }

    .button {
      margin-top: 2%;
    }

block content
 .container
   h1 Register
   p Please fill in this form to create an account.
   p.lead
     form(role='form', action='/register', method='post')
      .text-field-container
        .text-field
          input(type='text', required='', id='emailAddress', name='emailAddress')
          label(for='email') Email
        .text-field
          input(type='text', required='', id='username', name='username')
          label(for='username') Username
        .text-field
          input(type='password', required='', id='password', name='password')
          label(for='password') Password
        .text-field
          input(type='password', required='', id='repeatedPassword', name='repeatedPassword')
          label(for='repeatedPassword') Repeat Password
       button.button(type='submit') Submit

    p.signin
    | Already have an account? 
    a(href='/login') Sign in.